<ng-template [ngIf]="loadingRouteConfig" [ngIfElse]="outlet">
    <!--Loading Animations-->
    <mat-toolbar class="loading"><img src="../assets/img/logo.png"></mat-toolbar>
</ng-template>
<ng-template #outlet>
  <div class="speed-dial">
    <button class="speed-dial__button--root flex-center">
        <ng-template [ngIf]="navLoc" [ngIfElse]="menuIcon">
            <span style="color:#fff;font-size: 18px;">{{navLoc | titlecase}}</span>
        </ng-template>
      <ng-template #menuIcon>
          <mat-icon style="color:#fff">menu</mat-icon>
      </ng-template>
    </button>
    <div class="speed-dial__action" data-direction="top">
      <div class="speed-dial__item flex-center" style="transition-delay: 200ms;">
        <button class="speed-dial__button--small flex-center" title="Stock" routerLink="/stock">
            <mat-icon>home_work</mat-icon>
        </button>
      </div>
      <div class="speed-dial__item flex-center" style="transition-delay: 150ms;">
        <button class="speed-dial__button--small flex-center" title="Tasks" routerLink="/tasks">
            <mat-icon>assignment</mat-icon>
        </button>
      </div>
      <div class="speed-dial__item flex-center" style="transition-delay: 100ms;">
        <button class="speed-dial__button--small flex-center" title="Plans" routerLink="/plans">
            <mat-icon>build</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <mat-toolbar><img src="../assets/img/logo.png"></mat-toolbar>
  <div class="main">
      <router-outlet></router-outlet>
  </div>
</ng-template>